@layer pages {

    .main-page-wrapper {
        --btn-num: 6;

        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(var(--btn-num), 1fr);
        height: var(--m-height);
        overflow: hidden;
    }

    section {
        display: grid;
        grid-template-columns: var(--temp-col, 2fr 5fr);

        column-gap: 10rem;
        row-gap: 4.8rem;
        padding: 8rem 15rem;
        margin: 0 auto;
        max-width: 240rem;
    }

    section h1 {
        font-size: max(6.4rem, 28px);
        font-weight: var(--b-weight);
        margin-bottom: max(2.4rem, 12px);
    }

    section h2 {
        font-size: max(2rem, 18px);
        line-height: 1.5;
    }

    section p,
    section ul {
        font-size: max(1.6rem, 14px);
        margin-bottom: max(2.4rem, 12px);
        line-height: 1.5;
        max-width: 50em;
    }

    section h3{
        margin-bottom: max(0.8rem, 4px);
    }

    section img {
        box-shadow: -.8rem -.8rem 1.5rem #0005;
        border-radius: max(0.4rem, 4px);
    }

    section div:not(.two-imgs) img {
        display: block;
        margin-bottom: max(2.4rem, 12px);
        max-width: 800px;
        width: 100%;
    }

    section:first-of-type img {
        max-height: max(40rem, 140px);
        justify-self: center;
    }

    section:first-of-type {
        background: conic-gradient(from 95deg at 10% 60%, var(--nav-bg) 135deg, #0000 0);
    }

    section:last-of-type {
        grid-template-rows: 1fr auto;
        background: var(--nav-bg);
    }

    section:last-of-type:not(:has(.two-imgs)) {
        --temp-col: 1fr 1fr;
    }

    .demo-link {
        background: linear-gradient(90deg, var(--p-color), var(--s-color));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        margin-bottom: 2em;
    }

    .two-imgs {
        display: flex;
        flex-direction: column;
        grid-row: 1 / -1;
        grid-column: 2 / -1;
    }

    .two-imgs img:first-child {
        width: 40%;
    }

    .two-imgs img:last-child {
        width: 70%;
        align-self: end;
        margin-top: -3rem;
    }

    .project-end-nav a:first-of-type .arrow {
        rotate: 180deg;
    }

    @media (max-width: 1400px) {
        section {
            grid-template-columns: 1fr 1fr;
            column-gap: 4rem;
            padding-inline: 4rem;
        }
    }

    @media (max-width: 900px) {
        .main-page-wrapper {
            height: 100%;
            overflow: auto;
        }

        section {
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: unset;
            gap: 32px;
            padding: 24px;
        }

        section h1 {
            font-size: 28px;
            margin-bottom: 12px;
        }

        .demo-link {
            text-align: center;
        }

        .two-imgs {
            gap: 12px;
            grid-row: unset;
            grid-column: unset;
        }

        .two-imgs img:first-child {
            width: 50%;
        }

        .two-imgs img:last-child {
            width: 90%;
            margin-top: 8px;
        }

        .project-end-nav {
            justify-content: space-between;
            gap: unset;
        }
    }

}